@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Nunito-Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(0, 0%, 98%);
}